@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scroll-container::-webkit-scrollbar {
    @apply ml-2 h-5 w-2;
  }

  .scroll-container::-webkit-scrollbar-track {
    @apply rounded-full dark:bg-slate-700;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300 dark:bg-slate-600;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pretendard: 'Pretendard', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 320px) {
  .button-container {
    min-width: 280px; /* 창 너비가 320px 이하일 때 최소 너비 설정 */
  }
}
